:root,
:root[data-theme='light'],
html[data-theme='light'],
html.theme-light {
  --mb-av-font-family: Inter, 'Noto Sans', 'Segoe UI', sans-serif;
  --mb-av-font-size: 14px;
  --mb-av-line-height: 20px;
  --mb-av-font-weight: 600;
  --mb-av-letter-spacing: 0px;

  --mb-av-bg: #ebedef;
  --mb-av-text: #11181c;
  --mb-av-bg-brand: #0091ff;
  --mb-av-text-brand: #ffffff;
  --mb-av-bg-danger: #fff1f0;
  --mb-av-text-danger: #e54d2e;

  --mb-av-focus-ring: 0 0 0 3px #cde6fe;
  --mb-av-hover-ring: 0 0 0 2px #d6dade;
}

:root[data-theme='dark'],
html[data-theme='dark'],
html.theme-dark,
html.v-theme--dark {
  --mb-av-bg: #273547;
  --mb-av-text: #e5eaf2;
  --mb-av-bg-brand: #2f84ff;
  --mb-av-text-brand: #ffffff;
  --mb-av-bg-danger: #432326;
  --mb-av-text-danger: #ff8f7a;

  --mb-av-focus-ring: 0 0 0 3px #385a95;
  --mb-av-hover-ring: 0 0 0 2px #3b4e66;
}
