:root,
:root[data-theme='light'],
html[data-theme='light'],
html.theme-light {
  --mb-div-font-family: Inter, 'Noto Sans', 'Segoe UI', sans-serif;
  --mb-div-gap: 12px;
  --mb-div-inset: 8px;
  --mb-div-line: #ebedef;
  --mb-div-text: #7d868c;
  --mb-div-text-size: 14px;
  --mb-div-text-line-height: 20px;
  --mb-div-text-weight: 400;
  --mb-div-letter-spacing: 0px;
}

:root[data-theme='dark'],
html[data-theme='dark'],
html.theme-dark,
html.v-theme--dark {
  --mb-div-line: #3a495f;
  --mb-div-text: #97a3b5;
}
